<form class="contact-form" action="" {{ form_enctype(form) }} method="post">
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="submit" value="{% trans %}Submit contact form{% endtrans %}" />
    </div>
</form>